body {
  background-color: rgb(34, 32, 32);
  color: whitesmoke;
}

.jumbotron {
  background-color: transparent;
  text-align: center;
  color: rgb(255, 208, 0);
}

#swift, #c_plus_plus, #python, #ruby {
  display: none;
}

.name {
  text-transform: capitalize;
}

img {
  border-radius: 30px;
}

.result {
  text-align: center;
}